* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fundo {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: blue;
}
.box1 {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  position: relative;
  margin-top: 22vh;
  display: flex;
  background-color: rgb(54, 179, 179);
  border-radius: 1vw;
  border-width: thick;
}
.title {
  position: absolute;
  top: 6%;
  font-size: 1.5vw;
  color: rgb(12, 34, 26);
}
.box2 {
  position: absolute;
  top: 30%;
  height: 11vh;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.box2 input {
  width: 50%;
  font-size: 2.5vw;
  text-align: center;
  background-color: aquamarine;
  border-radius: 0.5vw;
}
.box2 p {
  font-size: 3vw;
  align-items: center;
}
.box3 {
  position: absolute;
  top: 60%;
  width: 70%;
  height: 7vh;
  display: flex;
  justify-content: space-around;
}
.box3 button {
  width: 3vw;
  font-weight: bold;
  font-size: 1.5vw;
  background-color: rgb(82, 165, 165);
  border-radius: 0.5vw;
}
.final {
  position: absolute;
  top: 80%;
  font-size: 1.5vw;
}
